@font-face {
    font-family: 'Noto Sans';
    src: url('https://cdn.jsdelivr.net/gh/webdesignfarm/font/NotoSansKR-Medium.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('https://cdn.jsdelivr.net/gh/webdesignfarm/font/NotoSansKR-Black.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
